# pudb:
snippet pudb
	import pudb; pudb.set_trace()
# ipdb:
snippet ipdb
	import ipdb; ipdb.set_trace()
snippet ,a
	assert False, 
# if __name__ == '__main__':
snippet ifmain
	if __name__ == '__main__':
	${1:main()}
