[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
	ignore = dirty
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/clojure-static"]
	path = bundle/clojure-static
	url = git://github.com/guns/vim-clojure-static.git
	ignore = dirty
[submodule "bundle/rainbow-parens"]
	path = bundle/rainbow-parens
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/classpath"]
	path = bundle/classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/jinja2"]
	path = bundle/jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
	ignore = dirty
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
